/***********************************************      BACKGROUND COLOR      *******************************************/
slide {
    background-color: white !important;
}

/***********************************************       FONT COLOR      ************************************************/
slide, h2 {
    color: black !important;
}

.main-hr {
    border-color: silver; /* Title underline color */
}

.desc {
    color: silver; /* Title description color */
}

.head-text {
    color: sandybrown; /* List item head text color. e.g. HeadTitle1: item content1. */
    font-weight: bold;
}

/***********************************************       FONT SIZE      *************************************************/
h2 {
    font-size: 45px !important; /* Main title font size */
}

.desc {
    font-size: 20px !important; /* Title description font size */
}

html, body, li, p {
    font-size: 30px !important; /* List item or global normal paragraph font size */
}

/***********************************************      IMAGE SIZE      *************************************************/
img {
    height: 250px;
    width: 50%;
    display: block;
    margin: 10px auto;
}

.full-img {
    height: 150px;
    width: 100%;
    display: block;
    margin: 10px auto;
}

.full-screen-img {
    height: 100% !important;
    width: 100% !important;
    display: block;
    margin: 10px !important;
}