/***********************************************      BACKGROUND COLOR      *******************************************/
slide {
    background-color: black !important;
}

/***********************************************       FONT COLOR      ************************************************/
.main-hr {
    border-color: yellow; /* Title underline color */
}

.desc {
    color: lightgoldenrodyellow; /* Title description color */
}

.head-text {
    color: deepskyblue; /* List item head text color. e.g. HeadTitle1: item content1. */
}

/***********************************************       FONT SIZE      *************************************************/
h2 {
    font-size: 45px !important; /* Main title font size */
}

.desc {
    font-size: 20px !important; /* Title description font size */
}

html, body, li, p {
    font-size: 30px !important; /* List item or global normal paragraph font size */
}

/***********************************************      IMAGE SIZE      *************************************************/
img {
    height: 250px;
    width: 50%;
    display: block;
    margin: 10px auto;
}

.full-img {
    height: 150px;
    width: 100%;
    display: block;
    margin: 10px auto;
}
